.profile-img {
    width: 220px;
    height: 220px;
    border: 3px solid #999;
}

.social-media:hover {
    cursor: pointer;
}

@media (max-width: 374px) {
    .profile-name {
        font-size: 2em;
    }
}